{% extends 'base.html' %}
{% block content %}
<h3>Kiosztás: {{ r.title }}</h3>
<form method="post">
  <div class="mb-3">
    <label class="form-label">Kiosztás felhasználónak</label>
    <select name="assignee_id" class="form-select">
      <option value="">-- válassz --</option>
      {% for u in users %}
        <option value="{{ u.id }}" {% if r.assignee and r.assignee.id==u.id %}selected{% endif %}>{{ u.username }}</option>
      {% endfor %}
    </select>
  </div>
  <button class="btn btn-primary">Kiosztás</button>
</form>
{% endblock %}
